In [240]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

In [241]:
#raw_data_0=pd.read_csv("data/season_2021.csv", index_col = "Date", parse_dates=True)
raw_data_1=pd.read_csv("data/season_2020.csv", index_col = "Date", parse_dates=True)
raw_data_2=pd.read_csv("data/season_2019.csv", index_col = "Date", parse_dates=True)
raw_data_3=pd.read_csv("data/season_2018.csv", index_col = "Date", parse_dates=True)
raw_data_4=pd.read_csv("data/season_2017.csv", index_col = "Date", parse_dates=True)
raw_data_5=pd.read_csv("data/season_2016.csv", index_col = "Date", parse_dates=True)
raw_data_6=pd.read_csv("data/season_2015.csv", index_col = "Date", parse_dates=True)
#raw_data_7=pd.read_csv("data/season_2014.csv", index_col = "Date", parse_dates=True)
raw_data_8=pd.read_csv("data/season_2013.csv", index_col = "Date", parse_dates=True)
raw_data_9=pd.read_csv("data/season_2012.csv", index_col = "Date", parse_dates=True)
raw_data_10=pd.read_csv("data/season_2011.csv", index_col = "Date", parse_dates=True)
raw_data_11=pd.read_csv("data/season_2010.csv", index_col = "Date", parse_dates=True)

In [242]:
raw_data_11.head(1)

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,E0,Aston Villa,West Ham,3,0,H,2,0,H,M Dean,...,2.11,2.01,1.82,1.75,20,0.0,1.45,1.4,3.0,2.78

In [243]:
columns_req = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR']
#playing_statistics_0=raw_data_0[columns_req]
playing_statistics_1=raw_data_1[columns_req]
playing_statistics_2=raw_data_2[columns_req]
playing_statistics_3=raw_data_3[columns_req]
playing_statistics_4=raw_data_4[columns_req]
playing_statistics_5=raw_data_5[columns_req]
playing_statistics_6=raw_data_6[columns_req]
#playing_statistics_7=raw_data_7[columns_req]
playing_statistics_8=raw_data_8[columns_req]
playing_statistics_9=raw_data_9[columns_req]
playing_statistics_10=raw_data_10[columns_req]
playing_statistics_11=raw_data_11[columns_req]

In [244]:
playing_statistics_1.head(10)

                    HomeTeam     AwayTeam  FTHG  FTAG FTR
Date
2020-12-09            Fulham      Arsenal     0     3   A
2020-12-09    Crystal Palace  Southampton     1     0   H
2020-12-09         Liverpool        Leeds     4     3   H
2020-12-09          West Ham    Newcastle     0     2   A
2020-09-13         West Brom    Leicester     0     3   A
2020-09-13         Tottenham      Everton     0     1   A
2020-09-14          Brighton      Chelsea     1     3   A
2020-09-14  Sheffield United       Wolves     0     2   A
2020-09-19           Everton    West Brom     5     2   H
2020-09-19             Leeds       Fulham     4     3   H

In [245]:
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)

    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,len(teams["Arsenal"])+1):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [246]:
playing_statistics_1 = get_gss(playing_statistics_1)
playing_statistics_2 = get_gss(playing_statistics_2)
playing_statistics_3 = get_gss(playing_statistics_3)
playing_statistics_4 = get_gss(playing_statistics_4)
playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
#playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)

/tmp/ipykernel_12371/3821190622.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGS'] = HTGS
/tmp/ipykernel_12371/3821190622.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGS'] = ATGS
/tmp/ipykernel_12371/3821190622.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGC'] = HTGC
/tmp/ipykernel_12371/3821190622.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGC'] = ATGC

In [247]:
playing_statistics_1.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
Date,,,,,,,,,
2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64
2021-05-23,Man City,Everton,5,0,H,78,47,32,43
2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54
2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65
2021-05-23,Wolves,Man United,1,2,A,35,71,50,43

In [248]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,31):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

In [249]:
playing_statistics_1 = get_agg_points(playing_statistics_1)
playing_statistics_2 = get_agg_points(playing_statistics_2)
playing_statistics_3 = get_agg_points(playing_statistics_3)
playing_statistics_4 = get_agg_points(playing_statistics_4)
playing_statistics_5 = get_agg_points(playing_statistics_5)
playing_statistics_6 = get_agg_points(playing_statistics_6)
playing_statistics_8 = get_agg_points(playing_statistics_8)
playing_statistics_9 = get_agg_points(playing_statistics_9)
playing_statistics_10 = get_agg_points(playing_statistics_10)
playing_statistics_11= get_agg_points(playing_statistics_11)

/tmp/ipykernel_12371/1426303958.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTP'] = HTP
/tmp/ipykernel_12371/1426303958.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATP'] = ATP

In [250]:
playing_statistics_1.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP
Date,,,,,,,,,,,
2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64,3,0
2021-05-23,Man City,Everton,5,0,H,78,47,32,43,0,3
2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54,0,0
2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65,3,0
2021-05-23,Wolves,Man United,1,2,A,35,71,50,43,0,1

In [251]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    playing_stat['HM' + str(num)] = h[:playing_stat.shape[0]]                 
    playing_stat['AM' + str(num)] = a[:playing_stat.shape[0]]

    
    return playing_stat

def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

In [252]:
playing_statistics_1 = add_form_df(playing_statistics_1)
playing_statistics_2 = add_form_df(playing_statistics_2)
playing_statistics_3 = add_form_df(playing_statistics_3)
playing_statistics_4 = add_form_df(playing_statistics_4)
playing_statistics_5 = add_form_df(playing_statistics_5)
playing_statistics_6 = add_form_df(playing_statistics_6)
playing_statistics_8 = add_form_df(playing_statistics_8)
playing_statistics_9 = add_form_df(playing_statistics_9)
playing_statistics_10 = add_form_df(playing_statistics_10)
playing_statistics_11 = add_form_df(playing_statistics_11)

/tmp/ipykernel_12371/3179715448.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HM' + str(num)] = h[:playing_stat.shape[0]]
/tmp/ipykernel_12371/3179715448.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AM' + str(num)] = a[:playing_stat.shape[0]]

In [253]:
playing_statistics_1.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,...,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64,3,...,W,L,W,W,W,L,W,W,D,L
2021-05-23,Man City,Everton,5,0,H,78,47,32,43,0,...,L,W,W,L,L,D,W,W,W,L
2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54,0,...,L,L,W,L,L,W,L,L,W,W
2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65,3,...,W,L,D,W,L,W,W,L,L,D
2021-05-23,Wolves,Man United,1,2,A,35,71,50,43,0,...,L,D,L,L,W,L,D,W,L,D

In [254]:
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

playing_statistics_1 = playing_statistics_1[cols]
playing_statistics_2 = playing_statistics_2[cols]
playing_statistics_3 = playing_statistics_3[cols]
playing_statistics_4 = playing_statistics_4[cols]
playing_statistics_5 = playing_statistics_5[cols]
playing_statistics_6 = playing_statistics_6[cols]
playing_statistics_8 = playing_statistics_8[cols]
playing_statistics_9 = playing_statistics_9[cols]
playing_statistics_10 = playing_statistics_10[cols]
playing_statistics_11 = playing_statistics_11[cols]

In [255]:
playing_statistics_4.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,...,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
Date,,,,,,,,,,,,,,,,,,,,,
2017-11-08,Arsenal,Leicester,4,3,H,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,M
2017-12-08,Brighton,Man City,0,2,A,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,M
2017-12-08,Chelsea,Burnley,2,3,A,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,M
2017-12-08,Crystal Palace,Huddersfield,0,3,A,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,M
2017-12-08,Everton,Stoke,1,0,H,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,M

In [256]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

playing_statistics_1 = get_mw(playing_statistics_1)
playing_statistics_2 = get_mw(playing_statistics_2)
playing_statistics_3 = get_mw(playing_statistics_3)
playing_statistics_4 = get_mw(playing_statistics_4)
playing_statistics_5 = get_mw(playing_statistics_5)
playing_statistics_6 = get_mw(playing_statistics_6)
playing_statistics_8 = get_mw(playing_statistics_8)
playing_statistics_9 = get_mw(playing_statistics_9)
playing_statistics_10 = get_mw(playing_statistics_10)
playing_statistics_11 = get_mw(playing_statistics_11)

In [257]:
playing_stat = pd.concat([playing_statistics_11,
                          playing_statistics_10,
                          playing_statistics_9,
                          playing_statistics_8,
                          playing_statistics_6,
                         playing_statistics_5,
                         playing_statistics_4,
                         playing_statistics_3,
                         playing_statistics_2,
                         playing_statistics_1])

In [258]:
playing_stat

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,...,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,MW
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,Aston Villa,West Ham,3,0,H,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
2010-08-14,Blackburn,Everton,1,0,H,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
2010-08-14,Bolton,Fulham,0,0,D,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
2010-08-14,Chelsea,West Brom,6,0,H,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
2010-08-14,Sunderland,Birmingham,2,2,D,0,0,0,0,0,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64,3,...,W,W,W,D,L,W,L,W,L,38
2021-05-23,Man City,Everton,5,0,H,78,47,32,43,0,...,W,L,W,W,W,L,D,W,L,38
2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54,0,...,W,L,L,W,L,L,W,L,W,38
2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65,3,...,D,L,W,L,L,W,W,L,D,38
2021-05-23,Wolves,Man United,1,2,A,35,71,50,43,0,...,L,W,D,L,D,L,L,W,D,38

In [259]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC',
       'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1', 'AM2',
       'AM3', 'AM4', 'AM5', 'MW', 'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts',
       'ATFormPts', 'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3',
       'HTLossStreak5', 'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3',
       'ATLossStreak5'],
      dtype='object')

In [260]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

In [261]:
playing_stat

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,Aston Villa,West Ham,3,0,H,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,Blackburn,Everton,1,0,H,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,Bolton,Fulham,0,0,D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,Chelsea,West Brom,6,0,H,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,Sunderland,Birmingham,2,2,D,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64,3,...,0,0,0,0,0,0,24,-23,3,7
2021-05-23,Man City,Everton,5,0,H,78,47,32,43,0,...,0,0,0,0,0,0,46,4,-3,2
2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54,0,...,0,0,0,0,0,0,-44,-21,0,0
2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65,3,...,0,0,0,0,0,0,12,-18,3,0
2021-05-23,Wolves,Man United,1,2,A,35,71,50,43,0,...,0,0,0,0,0,0,-15,28,-1,-1

In [262]:
def only_hw(string):
    if string == 'H':
        return 'H'
    else:
        return 'NH'
    
playing_stat['FTR'] = playing_stat.FTR.apply(only_hw)

In [263]:
playing_stat=playing_stat.drop(["HomeTeam","AwayTeam","HTFormPts","ATFormPts",
                                "FTHG","FTAG","HTFormPtsStr","ATFormPtsStr"],axis=1)
playing_stat.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,H,0,0,0,0,0,0,M,M,M,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,H,0,0,0,0,0,0,M,M,M,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,NH,0,0,0,0,0,0,M,M,M,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,H,0,0,0,0,0,0,M,M,M,...,0,0,0,0,0,0,0,0,0,0
2010-08-14,NH,0,0,0,0,0,0,M,M,M,...,0,0,0,0,0,0,0,0,0,0

In [264]:
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']

In [265]:
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [266]:
playing_stat.HTGS=playing_stat.HTGS/playing_stat.HTGS.max()

In [267]:
playing_stat.ATGS=playing_stat.ATGS/playing_stat.ATGS.max()
playing_stat.HTGC=playing_stat.HTGC/playing_stat.HTGC.max()
playing_stat.ATGC=playing_stat.ATGC/playing_stat.ATGC.max()
playing_stat

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,M,M,M,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-23,H,0.647059,0.390476,0.506024,0.810127,0.078947,0.000000,W,W,W,...,0,0,0,0,0,0,0.631579,-0.605263,0.078947,0.184211
2021-05-23,H,0.764706,0.447619,0.385542,0.544304,0.000000,0.078947,L,W,L,...,0,0,0,0,0,0,1.210526,0.105263,-0.078947,0.052632
2021-05-23,H,0.186275,0.314286,0.759036,0.683544,0.000000,0.000000,L,W,L,...,0,0,0,0,0,0,-1.157895,-0.552632,0.000000,0.000000
2021-05-23,H,0.578431,0.447619,0.566265,0.822785,0.078947,0.000000,W,D,L,...,0,0,0,0,0,0,0.315789,-0.473684,0.078947,0.000000
2021-05-23,NH,0.343137,0.676190,0.602410,0.544304,0.000000,0.026316,L,L,W,...,0,0,0,0,0,0,-0.394737,0.736842,-0.026316,-0.026316

In [268]:
playing_stat=playing_stat.drop(["MW"],axis=1)

In [269]:
playing_stat.shape

(3800, 29)

In [270]:
#Season 2021/2022 is Testing 
playing_stat_test = playing_stat[-225:]
playing_stat_test

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-01,NH,0.254902,0.219048,0.228916,0.265823,1.812500,1.375000,W,W,W,...,0,0,0,0,0,0,0.437500,0.125000,0.437500,0.500000
2021-01-01,H,0.303922,0.276190,0.277108,0.202532,1.875000,1.625000,W,D,W,...,0,0,0,0,0,0,0.500000,0.812500,0.250000,0.187500
2021-02-01,H,0.254902,0.238095,0.180723,0.379747,1.625000,1.250000,D,L,L,...,0,0,0,0,0,0,0.687500,-0.312500,0.375000,-0.062500
2021-02-01,H,0.186275,0.076190,0.337349,0.329114,1.125000,0.125000,L,L,D,...,0,0,0,0,1,0,-0.562500,-1.125000,1.000000,0.250000
2021-02-01,NH,0.176471,0.142857,0.289157,0.253165,0.812500,1.312500,D,D,D,...,0,0,0,0,0,0,-0.375000,-0.312500,-0.500000,-0.062500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-23,H,0.647059,0.390476,0.506024,0.810127,0.078947,0.000000,W,W,W,...,0,0,0,0,0,0,0.631579,-0.605263,0.078947,0.184211
2021-05-23,H,0.764706,0.447619,0.385542,0.544304,0.000000,0.078947,L,W,L,...,0,0,0,0,0,0,1.210526,0.105263,-0.078947,0.052632
2021-05-23,H,0.186275,0.314286,0.759036,0.683544,0.000000,0.000000,L,W,L,...,0,0,0,0,0,0,-1.157895,-0.552632,0.000000,0.000000
2021-05-23,H,0.578431,0.447619,0.566265,0.822785,0.078947,0.000000,W,D,L,...,0,0,0,0,0,0,0.315789,-0.473684,0.078947,0.000000
2021-05-23,NH,0.343137,0.676190,0.602410,0.544304,0.000000,0.026316,L,L,W,...,0,0,0,0,0,0,-0.394737,0.736842,-0.026316,-0.026316

In [274]:
remaining = playing_stat[:3575]
remaining

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,M,M,M,...,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,M,M,M,...,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,M,M,M,...,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,M,M,M,...,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,M,M,M,...,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-29,H,0.088235,0.076190,0.240964,0.329114,1.0000,0.1250,W,L,W,...,0,0,0,0,1,0,-0.6875,-1.1250,0.8750,0.5625
2020-12-29,NH,0.245098,0.219048,0.228916,0.265823,1.5625,1.3750,D,L,D,...,0,0,0,0,0,0,0.3750,0.1250,0.1875,0.1875
2020-12-29,NH,0.107843,0.238095,0.361446,0.379747,0.5000,1.2500,D,L,D,...,0,0,0,0,0,0,-1.1875,-0.3125,-0.7500,-0.2500
2020-12-29,H,0.303922,0.142857,0.277108,0.253165,1.8750,1.3125,W,D,W,...,0,0,0,0,0,0,0.5000,-0.3125,0.5625,0.4375
2020-12-30,NH,0.166667,0.352381,0.289157,0.253165,1.1875,2.0000,D,L,D,...,0,0,0,0,0,0,-0.4375,1.0625,-0.8125,-0.3750

In [285]:
playing_stat_valid = remaining[-336:]
playing_stat_valid

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NH,0.215686,0.314286,0.337349,0.341772,1.000000,1.600000,L,L,D,...,0,0,0,0,0,0,-0.300000,0.300000,-0.600000,-0.050000
2020-01-01,NH,0.225490,0.238095,0.385542,0.455696,1.142857,0.857143,L,L,W,...,0,0,0,0,1,0,-0.428571,-0.523810,0.285714,0.142857
2020-01-01,NH,0.196078,0.409524,0.361446,0.240506,1.190476,2.000000,L,L,W,...,0,0,0,0,0,0,-0.476190,1.142857,-0.809524,-0.047619
2020-01-01,H,0.235294,0.342857,0.457831,0.367089,1.047619,1.428571,D,W,W,...,0,0,0,0,0,0,-0.666667,0.333333,-0.380952,-0.142857
2020-01-01,H,0.147059,0.276190,0.397590,0.316456,0.761905,1.428571,W,D,W,...,0,0,0,0,0,0,-0.857143,0.190476,-0.666667,0.047619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-29,H,0.088235,0.076190,0.240964,0.329114,1.000000,0.125000,W,L,W,...,0,0,0,0,1,0,-0.687500,-1.125000,0.875000,0.562500
2020-12-29,NH,0.245098,0.219048,0.228916,0.265823,1.562500,1.375000,D,L,D,...,0,0,0,0,0,0,0.375000,0.125000,0.187500,0.187500
2020-12-29,NH,0.107843,0.238095,0.361446,0.379747,0.500000,1.250000,D,L,D,...,0,0,0,0,0,0,-1.187500,-0.312500,-0.750000,-0.250000
2020-12-29,H,0.303922,0.142857,0.277108,0.253165,1.875000,1.312500,W,D,W,...,0,0,0,0,0,0,0.500000,-0.312500,0.562500,0.437500
2020-12-30,NH,0.166667,0.352381,0.289157,0.253165,1.187500,2.000000,D,L,D,...,0,0,0,0,0,0,-0.437500,1.062500,-0.812500,-0.375000

In [288]:
playing_stat_train = remaining[:3239]
playing_stat_train

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.00,0.00,M,M,M,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.00,0.00,M,M,M,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.00,0.00,M,M,M,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
2010-08-14,H,0.000000,0.000000,0.000000,0.000000,0.00,0.00,M,M,M,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
2010-08-14,NH,0.000000,0.000000,0.000000,0.000000,0.00,0.00,M,M,M,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,NH,0.205882,0.390476,0.385542,0.227848,0.95,1.95,L,L,W,...,0,0,0,0,0,0,-0.55,1.15,-1.00,-0.20
2019-12-28,NH,0.225490,0.285714,0.361446,0.291139,1.20,1.40,L,W,W,...,0,0,0,0,0,0,-0.35,0.35,-0.20,-0.20
2019-12-29,NH,0.245098,0.314286,0.337349,0.341772,1.20,1.60,D,D,L,...,0,0,0,0,0,0,-0.15,0.30,-0.40,-0.05
2019-12-29,H,0.460784,0.276190,0.168675,0.303797,2.75,1.50,W,W,W,...,0,0,0,0,0,0,1.65,0.25,1.25,0.25
2019-12-29,H,0.509804,0.219048,0.277108,0.215190,1.90,1.45,L,W,W,...,0,0,0,0,0,0,1.45,0.30,0.45,-0.05

In [289]:
playing_stat_train.to_csv("train.csv")
playing_stat_test.to_csv("test.csv")
playing_stat_valid.to_csv("valid.csv")